<<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<%= @website.each do |w|%>
<a href="<%= w.url %>"><%= w.url %></a><br>
<% end %>
</body>
</html>

